workflows/MJUVrUAljpWOuzRU.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-02-18T18:25:10.000Z",
    "createdAt": "2026-02-18T18:25:08.771Z",
    "versionId": "09e8d016-389e-4987-ac1c-012b8b5dda45",
    "workflowId": "MJUVrUAljpWOuzRU",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "chatbot-app",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -1296,
          -96
        ],
        "id": "9761c0bf-2183-468c-ae07-613fdecc6dd2",
        "name": "Webhook",
        "webhookId": "dc64535e-362d-41aa-9613-d72aa9ce72b4",
        "alwaysOutputData": false,
        "executeOnce": false
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=Prompt:{{ $json.body.chat_question }}, Role:{{ $json.body.role }}",
          "options": {
            "systemMessage": "you are a decision making assistant decide in which topic this question asks like leave,holiday calendar, details of the use when question related to it only return output Like \"Leave\",\"Holiday\",\"user_details\"\nfor example asks I need leave today\noutput: Leave\nonly this should be output\nuser related things are personal so only if role is administrator sent the user details else permission needed should be output"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3.1,
        "position": [
          -1056,
          -96
        ],
        "id": "2c7ae4ef-5a9f-4c2b-abda-87904abd0a69",
        "name": "AI Agent"
      },
      {
        "parameters": {
          "model": "llama-3.3-70b-versatile",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
        "typeVersion": 1,
        "position": [
          -208,
          592
        ],
        "id": "c5695a4f-57c4-4dd1-80a1-652506f94876",
        "name": "Groq Chat Model",
        "credentials": {
          "groqApi": {
            "id": "jDMJJhySnK3fVaFh",
            "name": "Groq account"
          }
        }
      },
      {
        "parameters": {
          "sessionIdType": "customKey",
          "sessionKey": "={{ $('Webhook').item.json.body.user_id }}",
          "contextWindowLength": 100
        },
        "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
        "typeVersion": 1.3,
        "position": [
          -864,
          80
        ],
        "id": "40d251a2-d566-4e5b-9200-d95d7f7989d2",
        "name": "Simple Memory"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.output }}",
                      "rightValue": "Leave",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "cad7521f-e20b-4410-8e7a-fc3ace8e43bc"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "leave"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "bf71e3c5-7b27-447e-ae34-c05b4adb0608",
                      "leftValue": "={{ $json.output }}",
                      "rightValue": "Holiday",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Holiday"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "7f8affc0-09fa-4638-a173-27f2183cd378",
                      "leftValue": "={{ $json.output }}",
                      "rightValue": "User_details",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "User_Details"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "daa177c5-6c3f-42d3-b0b0-7a68ef69846d",
                      "leftValue": "={{ $json.output }}",
                      "rightValue": "Permission needed",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                }
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.4,
        "position": [
          -608,
          -128
        ],
        "id": "6b8bf246-df36-420a-9079-d27e93d50dc1",
        "name": "Switch"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=User ID: {{ $('Webhook').item.json.body.user_id }}\nQuestion: {{ $('Webhook').item.json.body.chat_question }}",
          "options": {
            "systemMessage": "=You are an HR assistant who accept the leave and find the remaining leave dates from sheet and update it you can't increase the leave and user normally asks for take leave.\n"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3.1,
        "position": [
          272,
          -816
        ],
        "id": "cf605d6b-1c61-4c43-98ba-067f63e8a757",
        "name": "AI Agent1"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.5,
        "position": [
          1184,
          32
        ],
        "id": "f0cedf66-46e4-453c-a13e-e0bf48336bf8",
        "name": "Respond to Webhook"
      },
      {
        "parameters": {
          "operation": "appendOrUpdate",
          "documentId": {
            "__rl": true,
            "value": "1C9AdNC9Si5WqYOBwJN249kR2HLh8XUPQr_F3RpkITIY",
            "mode": "list",
            "cachedResultName": "leave ",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1C9AdNC9Si5WqYOBwJN249kR2HLh8XUPQr_F3RpkITIY/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "casual",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1C9AdNC9Si5WqYOBwJN249kR2HLh8XUPQr_F3RpkITIY/edit#gid=0"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "userid": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('userid__using_to_match_', ``, 'string') }}",
              "remaining_sick_leave": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('remaining_sick_leave', ``, 'string') }}",
              "remaining_casual_leave": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('remaining_casual_leave', ``, 'string') }}",
              "Birthday_leave": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Birthday_leave', ``, 'string') }}"
            },
            "matchingColumns": [
              "userid"
            ],
            "schema": [
              {
                "id": "userid",
                "displayName": "userid",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "remaining_sick_leave",
                "displayName": "remaining_sick_leave",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "remaining_casual_leave",
                "displayName": "remaining_casual_leave",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Birthday_leave",
                "displayName": "Birthday_leave",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheetsTool",
        "typeVersion": 4.7,
        "position": [
          560,
          -608
        ],
        "id": "9bff080c-e70c-4b59-99c1-3578603b74ba",
        "name": "Append or update row in sheet in Google Sheets",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "XIp9SeeDbsbRsqDc",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "1C9AdNC9Si5WqYOBwJN249kR2HLh8XUPQr_F3RpkITIY",
            "mode": "list",
            "cachedResultName": "leave ",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1C9AdNC9Si5WqYOBwJN249kR2HLh8XUPQr_F3RpkITIY/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "casual",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1C9AdNC9Si5WqYOBwJN249kR2HLh8XUPQr_F3RpkITIY/edit#gid=0"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheetsTool",
        "typeVersion": 4.7,
        "position": [
          416,
          -608
        ],
        "id": "329b3d59-3286-42ec-9676-8a6eb9d6d2b3",
        "name": "Get row(s) in sheet in Google Sheets1",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "XIp9SeeDbsbRsqDc",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=User ID: {{ $('Webhook').item.json.body.user_id }}\nQuestion: {{ $('Webhook').item.json.body.chat_question }}",
          "options": {
            "systemMessage": "=You are an email generator when user asks to generate email generate and send to the mail address from the userid's mail which is in in the get rows sheet"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3.1,
        "position": [
          208,
          -160
        ],
        "id": "0f5654ce-0a23-4e12-a605-cfb8c459bee9",
        "name": "AI Agent2"
      },
      {
        "parameters": {
          "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
          "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
          "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
          "options": {}
        },
        "type": "n8n-nodes-base.gmailTool",
        "typeVersion": 2.2,
        "position": [
          352,
          96
        ],
        "id": "141545aa-f4b1-4483-897c-25b28a3b9361",
        "name": "Send a message in Gmail",
        "webhookId": "826d06c5-8cf3-4e96-95e7-9d69efabdf85",
        "credentials": {
          "gmailOAuth2": {
            "id": "TdXlf08JjqU90CoT",
            "name": "Gmail account"
          }
        }
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "1qW06FlqJnVD4JzTlhK2xSVqZZWdQJmXX8e1jxoS8Ku8",
            "mode": "list",
            "cachedResultName": "user_details",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qW06FlqJnVD4JzTlhK2xSVqZZWdQJmXX8e1jxoS8Ku8/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Sheet1",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qW06FlqJnVD4JzTlhK2xSVqZZWdQJmXX8e1jxoS8Ku8/edit#gid=0"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheetsTool",
        "typeVersion": 4.7,
        "position": [
          480,
          48
        ],
        "id": "9a9a4dc1-320d-487c-86f1-264d25b51ea3",
        "name": "Get row(s) in sheet in Google Sheets",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "XIp9SeeDbsbRsqDc",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "023b734a-2ba9-450a-98c7-29f1540fbb5a",
                "name": "output",
                "value": "={{ $json.output }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          320,
          304
        ],
        "id": "e50dccc4-6be0-4922-a4ea-57661ccae182",
        "name": "Edit Fields"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=\nQuestion: {{ $('Webhook').item.json.body.chat_question }}",
          "options": {
            "systemMessage": "=You are a Holiday assistant.\n\nTo get holiday data:\n- Call the Get_rows tool with ZERO parameters — pass nothing, it is pre-configured.\n- Read the results and answer the user's question.\n-answers should be related the question of the user\n\nNEVER pass spreadsheetId, sheetName, range, or any other parameter to the tool."
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3.1,
        "position": [
          272,
          -368
        ],
        "id": "afa4bfb5-4893-4a76-867d-109f66cfa00d",
        "name": "AI Agent3"
      },
      {
        "parameters": {
          "sessionIdType": "customKey",
          "sessionKey": "=={{ $('Webhook').item.json.body.user_id }}",
          "contextWindowLength": 100
        },
        "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
        "typeVersion": 1.3,
        "position": [
          160,
          -576
        ],
        "id": "0c93a00a-d317-43b2-93c3-be81b6929dad",
        "name": "Simple Memory1"
      },
      {
        "parameters": {
          "sessionIdType": "customKey",
          "sessionKey": "=={{ $('Webhook').item.json.body.user_id }}",
          "contextWindowLength": 100
        },
        "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
        "typeVersion": 1.3,
        "position": [
          256,
          96
        ],
        "id": "8f0ae50a-bcb9-4d59-b301-bea1a94dc810",
        "name": "Simple Memory3"
      },
      {
        "parameters": {
          "descriptionType": "manual",
          "toolDescription": "Call this tool with NO parameters at all. \nDo not pass spreadsheetId, sheetName, range, or any other parameter.\nIt automatically returns all holiday rows. Just invoke it empty.",
          "documentId": {
            "__rl": true,
            "value": "1C9AdNC9Si5WqYOBwJN249kR2HLh8XUPQr_F3RpkITIY",
            "mode": "list",
            "cachedResultName": "leave ",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1C9AdNC9Si5WqYOBwJN249kR2HLh8XUPQr_F3RpkITIY/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 1126298656,
            "mode": "list",
            "cachedResultName": "holiday",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1C9AdNC9Si5WqYOBwJN249kR2HLh8XUPQr_F3RpkITIY/edit#gid=1126298656"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheetsTool",
        "typeVersion": 4.7,
        "position": [
          496,
          -176
        ],
        "id": "24c035f7-2d55-4ff9-a3cf-d9081723262a",
        "name": "Get row(s) in sheet in Google Sheets2",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "XIp9SeeDbsbRsqDc",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "sessionIdType": "customKey",
          "sessionKey": "=={{ $('Webhook').item.json.body.user_id }}",
          "contextWindowLength": 100
        },
        "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
        "typeVersion": 1.3,
        "position": [
          656,
          -160
        ],
        "id": "18bba5e0-1749-402f-98c5-72ff217d09b9",
        "name": "Simple Memory4"
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Groq Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            },
            {
              "node": "AI Agent1",
              "type": "ai_languageModel",
              "index": 0
            },
            {
              "node": "AI Agent2",
              "type": "ai_languageModel",
              "index": 0
            },
            {
              "node": "AI Agent3",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Simple Memory": {
        "ai_memory": [
          [
            {
              "node": "AI Agent",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent": {
        "main": [
          [
            {
              "node": "Switch",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch": {
        "main": [
          [
            {
              "node": "AI Agent1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "AI Agent3",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "AI Agent2",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent1": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Append or update row in sheet in Google Sheets": {
        "ai_tool": [
          [
            {
              "node": "AI Agent1",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Get row(s) in sheet in Google Sheets1": {
        "ai_tool": [
          [
            {
              "node": "AI Agent1",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent2": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send a message in Gmail": {
        "ai_tool": [
          [
            {
              "node": "AI Agent2",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Get row(s) in sheet in Google Sheets": {
        "ai_tool": [
          [
            {
              "node": "AI Agent2",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent3": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Simple Memory1": {
        "ai_memory": [
          [
            {
              "node": "AI Agent1",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "Simple Memory3": {
        "ai_memory": [
          [
            {
              "node": "AI Agent2",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "Get row(s) in sheet in Google Sheets2": {
        "ai_tool": [
          [
            {
              "node": "AI Agent3",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Simple Memory4": {
        "ai_memory": [
          [
            {
              "node": "AI Agent3",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Lavan Balendran lavanbalendran7@gmail.com",
    "name": "Version 09e8d016",
    "description": "",
    "autosaved": false
  },
  "activeVersionId": "09e8d016-389e-4987-ac1c-012b8b5dda45",
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "AI Agent3",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent2": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent3": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory3": {
      "ai_memory": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets2": {
      "ai_tool": [
        [
          {
            "node": "AI Agent3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory4": {
      "ai_memory": [
        [
          {
            "node": "AI Agent3",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-02-17T17:42:09.681Z",
  "id": "MJUVrUAljpWOuzRU",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "company_chatbot",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chatbot-app",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1296,
        -96
      ],
      "id": "9761c0bf-2183-468c-ae07-613fdecc6dd2",
      "name": "Webhook",
      "webhookId": "dc64535e-362d-41aa-9613-d72aa9ce72b4",
      "alwaysOutputData": false,
      "executeOnce": false
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Prompt:{{ $json.body.chat_question }}, Role:{{ $json.body.role }}",
        "options": {
          "systemMessage": "you are a decision making assistant decide in which topic this question asks like leave,holiday calendar, details of the use when question related to it only return output Like \"Leave\",\"Holiday\",\"user_details\"\nfor example asks I need leave today\noutput: Leave\nonly this should be output\nuser related things are personal so only if role is administrator sent the user details else permission needed should be output"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -1056,
        -96
      ],
      "id": "2c7ae4ef-5a9f-4c2b-abda-87904abd0a69",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -208,
        592
      ],
      "id": "c5695a4f-57c4-4dd1-80a1-652506f94876",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "jDMJJhySnK3fVaFh",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook').item.json.body.user_id }}",
        "contextWindowLength": 100
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -864,
        80
      ],
      "id": "40d251a2-d566-4e5b-9200-d95d7f7989d2",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "Leave",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "cad7521f-e20b-4410-8e7a-fc3ace8e43bc"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "leave"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "bf71e3c5-7b27-447e-ae34-c05b4adb0608",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "Holiday",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Holiday"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "7f8affc0-09fa-4638-a173-27f2183cd378",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "User_details",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "User_Details"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "daa177c5-6c3f-42d3-b0b0-7a68ef69846d",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "Permission needed",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -608,
        -128
      ],
      "id": "6b8bf246-df36-420a-9079-d27e93d50dc1",
      "name": "Switch"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=User ID: {{ $('Webhook').item.json.body.user_id }}\nQuestion: {{ $('Webhook').item.json.body.chat_question }}",
        "options": {
          "systemMessage": "=You are an HR assistant who accept the leave and find the remaining leave dates from sheet and update it you can't increase the leave and user normally asks for take leave.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        272,
        -816
      ],
      "id": "cf605d6b-1c61-4c43-98ba-067f63e8a757",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1184,
        32
      ],
      "id": "f0cedf66-46e4-453c-a13e-e0bf48336bf8",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1C9AdNC9Si5WqYOBwJN249kR2HLh8XUPQr_F3RpkITIY",
          "mode": "list",
          "cachedResultName": "leave ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1C9AdNC9Si5WqYOBwJN249kR2HLh8XUPQr_F3RpkITIY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "casual",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1C9AdNC9Si5WqYOBwJN249kR2HLh8XUPQr_F3RpkITIY/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "userid": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('userid__using_to_match_', ``, 'string') }}",
            "remaining_sick_leave": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('remaining_sick_leave', ``, 'string') }}",
            "remaining_casual_leave": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('remaining_casual_leave', ``, 'string') }}",
            "Birthday_leave": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Birthday_leave', ``, 'string') }}"
          },
          "matchingColumns": [
            "userid"
          ],
          "schema": [
            {
              "id": "userid",
              "displayName": "userid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "remaining_sick_leave",
              "displayName": "remaining_sick_leave",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "remaining_casual_leave",
              "displayName": "remaining_casual_leave",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Birthday_leave",
              "displayName": "Birthday_leave",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        560,
        -608
      ],
      "id": "9bff080c-e70c-4b59-99c1-3578603b74ba",
      "name": "Append or update row in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "XIp9SeeDbsbRsqDc",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1C9AdNC9Si5WqYOBwJN249kR2HLh8XUPQr_F3RpkITIY",
          "mode": "list",
          "cachedResultName": "leave ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1C9AdNC9Si5WqYOBwJN249kR2HLh8XUPQr_F3RpkITIY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "casual",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1C9AdNC9Si5WqYOBwJN249kR2HLh8XUPQr_F3RpkITIY/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        416,
        -608
      ],
      "id": "329b3d59-3286-42ec-9676-8a6eb9d6d2b3",
      "name": "Get row(s) in sheet in Google Sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "XIp9SeeDbsbRsqDc",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=User ID: {{ $('Webhook').item.json.body.user_id }}\nQuestion: {{ $('Webhook').item.json.body.chat_question }}",
        "options": {
          "systemMessage": "=You are an email generator when user asks to generate email generate and send to the mail address from the userid's mail which is in in the get rows sheet"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        -160
      ],
      "id": "0f5654ce-0a23-4e12-a605-cfb8c459bee9",
      "name": "AI Agent2"
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        352,
        96
      ],
      "id": "141545aa-f4b1-4483-897c-25b28a3b9361",
      "name": "Send a message in Gmail",
      "webhookId": "826d06c5-8cf3-4e96-95e7-9d69efabdf85",
      "credentials": {
        "gmailOAuth2": {
          "id": "TdXlf08JjqU90CoT",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1qW06FlqJnVD4JzTlhK2xSVqZZWdQJmXX8e1jxoS8Ku8",
          "mode": "list",
          "cachedResultName": "user_details",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qW06FlqJnVD4JzTlhK2xSVqZZWdQJmXX8e1jxoS8Ku8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qW06FlqJnVD4JzTlhK2xSVqZZWdQJmXX8e1jxoS8Ku8/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        480,
        48
      ],
      "id": "9a9a4dc1-320d-487c-86f1-264d25b51ea3",
      "name": "Get row(s) in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "XIp9SeeDbsbRsqDc",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "023b734a-2ba9-450a-98c7-29f1540fbb5a",
              "name": "output",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        320,
        304
      ],
      "id": "e50dccc4-6be0-4922-a4ea-57661ccae182",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=\nQuestion: {{ $('Webhook').item.json.body.chat_question }}",
        "options": {
          "systemMessage": "=You are a Holiday assistant.\n\nTo get holiday data:\n- Call the Get_rows tool with ZERO parameters — pass nothing, it is pre-configured.\n- Read the results and answer the user's question.\n-answers should be related the question of the user\n\nNEVER pass spreadsheetId, sheetName, range, or any other parameter to the tool."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        272,
        -368
      ],
      "id": "afa4bfb5-4893-4a76-867d-109f66cfa00d",
      "name": "AI Agent3"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=={{ $('Webhook').item.json.body.user_id }}",
        "contextWindowLength": 100
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        160,
        -576
      ],
      "id": "0c93a00a-d317-43b2-93c3-be81b6929dad",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=={{ $('Webhook').item.json.body.user_id }}",
        "contextWindowLength": 100
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        256,
        96
      ],
      "id": "8f0ae50a-bcb9-4d59-b301-bea1a94dc810",
      "name": "Simple Memory3"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Call this tool with NO parameters at all. \nDo not pass spreadsheetId, sheetName, range, or any other parameter.\nIt automatically returns all holiday rows. Just invoke it empty.",
        "documentId": {
          "__rl": true,
          "value": "1C9AdNC9Si5WqYOBwJN249kR2HLh8XUPQr_F3RpkITIY",
          "mode": "list",
          "cachedResultName": "leave ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1C9AdNC9Si5WqYOBwJN249kR2HLh8XUPQr_F3RpkITIY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1126298656,
          "mode": "list",
          "cachedResultName": "holiday",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1C9AdNC9Si5WqYOBwJN249kR2HLh8XUPQr_F3RpkITIY/edit#gid=1126298656"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        496,
        -176
      ],
      "id": "24c035f7-2d55-4ff9-a3cf-d9081723262a",
      "name": "Get row(s) in sheet in Google Sheets2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "XIp9SeeDbsbRsqDc",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=={{ $('Webhook').item.json.body.user_id }}",
        "contextWindowLength": 100
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        656,
        -160
      ],
      "id": "18bba5e0-1749-402f-98c5-72ff217d09b9",
      "name": "Simple Memory4"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "shared": [
    {
      "updatedAt": "2026-02-17T17:42:09.702Z",
      "createdAt": "2026-02-17T17:42:09.702Z",
      "role": "workflow:owner",
      "workflowId": "MJUVrUAljpWOuzRU",
      "projectId": "O3srPQYnkv2pef9B"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-02-18T18:25:08.767Z",
  "versionId": "09e8d016-389e-4987-ac1c-012b8b5dda45"
}