workflows/yHWpjWqFDb3TZvze.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-02-10T03:29:39.000Z",
    "createdAt": "2026-02-10T03:29:24.105Z",
    "versionId": "6bd336f3-1a2b-4f03-9102-7fdada8e889c",
    "workflowId": "yHWpjWqFDb3TZvze",
    "nodes": [
      {
        "parameters": {
          "url": "https://internal.users.n8n.cloud/webhook/custom-erp",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "unique_id",
                "value": "62099ec28d37c63618b461382ae5e9a4"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -208,
          -16
        ],
        "id": "12282a65-e2b4-4efc-b438-cb7283edca9c",
        "name": "HTTP Request",
        "credentials": {
          "httpHeaderAuth": {
            "id": "EyGiGlYRgAed4a94",
            "name": "Header Auth account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "a50c322b-b8f8-4892-91c6-c95548d77cd1",
                "leftValue": "={{ $json.orderStatus }}",
                "rightValue": "=processing",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          0,
          -16
        ],
        "id": "d2578196-1c0a-439f-90d2-aac3f7cdc925",
        "name": "If"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "e4712b18-9dae-4641-bfc6-47ce8ebfa264",
                "name": "=orderID",
                "value": "={{ $json.orderID }}",
                "type": "number"
              },
              {
                "id": "8488d7a0-3f42-4e7d-9705-90e70672846a",
                "name": "=employeeName",
                "value": "={{ $json.employeeName }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          208,
          -96
        ],
        "id": "2bd9cdf1-7e23-492c-a7e4-a67f2b4b0760",
        "name": "Edit Fields"
      },
      {
        "parameters": {
          "operation": "create",
          "base": {
            "__rl": true,
            "value": "appf9a5aEl6ux6DOS",
            "mode": "list",
            "cachedResultName": "myfirstbase",
            "cachedResultUrl": "https://airtable.com/appf9a5aEl6ux6DOS"
          },
          "table": {
            "__rl": true,
            "value": "tblNfnKra8b1RthY7",
            "mode": "list",
            "cachedResultName": "newtable",
            "cachedResultUrl": "https://airtable.com/appf9a5aEl6ux6DOS/tblNfnKra8b1RthY7"
          },
          "columns": {
            "mappingMode": "autoMapInputData",
            "value": {},
            "matchingColumns": [],
            "schema": [
              {
                "id": "orderID",
                "displayName": "orderID",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "employeeName",
                "displayName": "employeeName",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.airtable",
        "typeVersion": 2.1,
        "position": [
          416,
          -176
        ],
        "id": "78a8f28f-4d34-4cbd-8110-1abbcb1e9fad",
        "name": "Create a record",
        "credentials": {
          "airtableTokenApi": {
            "id": "uI7H9OeAsvnJRKUH",
            "name": "Airtable Personal Access Token account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nlet items = $input.all();\nlet totalBooked = items.length;\nlet bookedSum = 0;\n\nfor (let i=0; i < items.length; i++) {\n  bookedSum = bookedSum + items[i].json.orderPrice;\n}\n\nreturn [{ json: {totalBooked, bookedSum} }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          208,
          32
        ],
        "id": "a4044f57-57a3-4dd8-91d3-6b0a5dbe7d5a",
        "name": "Code in JavaScript"
      },
      {
        "parameters": {
          "authentication": "webhook",
          "content": "=This week we've {{$json[\"totalBooked\"]}} booked orders with a total value of {{$json[\"bookedSum\"]}}. My Unique ID: {{ $('HTTP Request').params[\"headerParameters\"][\"parameters\"][0][\"value\"] }}",
          "options": {}
        },
        "type": "n8n-nodes-base.discord",
        "typeVersion": 2,
        "position": [
          416,
          32
        ],
        "id": "34877c51-74ea-4af1-9278-6f61f456fbbb",
        "name": "Discord",
        "webhookId": "d749fb76-4672-4d08-899d-d45bdf46d450",
        "credentials": {
          "discordWebhookApi": {
            "id": "Dx0rZOlzMyeyEL3s",
            "name": "Discord Webhook account"
          }
        }
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "triggerAtHour": 9
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          -432,
          -16
        ],
        "id": "78e3f01f-44f4-41b8-8dc2-d077d71c66f0",
        "name": "Schedule Trigger"
      }
    ],
    "connections": {
      "HTTP Request": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Code in JavaScript",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "Create a record",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript": {
        "main": [
          [
            {
              "node": "Discord",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Lavan Balendran lavanbalendran7@gmail.com",
    "name": "firstproject",
    "description": "",
    "autosaved": false
  },
  "activeVersionId": "6bd336f3-1a2b-4f03-9102-7fdada8e889c",
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Create a record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-02-09T13:01:51.723Z",
  "id": "yHWpjWqFDb3TZvze",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "url": "https://internal.users.n8n.cloud/webhook/custom-erp",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "unique_id",
              "value": "62099ec28d37c63618b461382ae5e9a4"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -208,
        -16
      ],
      "id": "12282a65-e2b4-4efc-b438-cb7283edca9c",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "EyGiGlYRgAed4a94",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a50c322b-b8f8-4892-91c6-c95548d77cd1",
              "leftValue": "={{ $json.orderStatus }}",
              "rightValue": "=processing",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        0,
        -16
      ],
      "id": "d2578196-1c0a-439f-90d2-aac3f7cdc925",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e4712b18-9dae-4641-bfc6-47ce8ebfa264",
              "name": "=orderID",
              "value": "={{ $json.orderID }}",
              "type": "number"
            },
            {
              "id": "8488d7a0-3f42-4e7d-9705-90e70672846a",
              "name": "=employeeName",
              "value": "={{ $json.employeeName }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        -96
      ],
      "id": "2bd9cdf1-7e23-492c-a7e4-a67f2b4b0760",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appf9a5aEl6ux6DOS",
          "mode": "list",
          "cachedResultName": "myfirstbase",
          "cachedResultUrl": "https://airtable.com/appf9a5aEl6ux6DOS"
        },
        "table": {
          "__rl": true,
          "value": "tblNfnKra8b1RthY7",
          "mode": "list",
          "cachedResultName": "newtable",
          "cachedResultUrl": "https://airtable.com/appf9a5aEl6ux6DOS/tblNfnKra8b1RthY7"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "orderID",
              "displayName": "orderID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "employeeName",
              "displayName": "employeeName",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        416,
        -176
      ],
      "id": "78a8f28f-4d34-4cbd-8110-1abbcb1e9fad",
      "name": "Create a record",
      "credentials": {
        "airtableTokenApi": {
          "id": "uI7H9OeAsvnJRKUH",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nlet items = $input.all();\nlet totalBooked = items.length;\nlet bookedSum = 0;\n\nfor (let i=0; i < items.length; i++) {\n  bookedSum = bookedSum + items[i].json.orderPrice;\n}\n\nreturn [{ json: {totalBooked, bookedSum} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        32
      ],
      "id": "a4044f57-57a3-4dd8-91d3-6b0a5dbe7d5a",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=This week we've {{$json[\"totalBooked\"]}} booked orders with a total value of {{$json[\"bookedSum\"]}}. My Unique ID: {{ $('HTTP Request').params[\"headerParameters\"][\"parameters\"][0][\"value\"] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        416,
        32
      ],
      "id": "34877c51-74ea-4af1-9278-6f61f456fbbb",
      "name": "Discord",
      "webhookId": "d749fb76-4672-4d08-899d-d45bdf46d450",
      "credentials": {
        "discordWebhookApi": {
          "id": "Dx0rZOlzMyeyEL3s",
          "name": "Discord Webhook account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -432,
        -16
      ],
      "id": "78e3f01f-44f4-41b8-8dc2-d077d71c66f0",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "shared": [
    {
      "updatedAt": "2026-02-09T13:01:51.729Z",
      "createdAt": "2026-02-09T13:01:51.729Z",
      "role": "workflow:owner",
      "workflowId": "yHWpjWqFDb3TZvze",
      "projectId": "O3srPQYnkv2pef9B"
    }
  ],
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-02-10T03:29:52.918Z",
  "versionId": "6bd336f3-1a2b-4f03-9102-7fdada8e889c"
}